@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}
section {
    padding: 3rem 9%;
    background-color: #eee;
}
section h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}
section h1 span{
    color:#0984e3;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    background: #0984e3;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: sticky;

}
.header .fa-store{
    color: yellow;
    margin-right: 10px;
}
#fechar{
    text-align: right;
    cursor: pointer;
}
#fechar i{
    font-size: 2.2em;
    color: #444;
}
.header .logo{
    display: flex;
}
.header .logo a{
    font-size: 1.7em;
    font-weight: 700;
    color: #fff;
}
.formulario{
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 50px;
    background-color: #fff;
}
#search-box{
    padding-right: 10px;
    height: 50px;
    width: 100%;
    font-size: 1.12em;
}
.fa-search{
    cursor: pointer;
    font-size: 1.12em;
}
#search-icon{
    display: none;
}
.menu a{
    margin-left: 30px;
    color: #fff;
    font-size: 1.7em;
}
#menu-btn{
    cursor: pointer;
}
aside{
    width: 300px;
    height: 100%;
    position: fixed;
    left: -110%;
    top: 0;
    background-color: rgb(223, 223, 223);
    z-index: 100;
    padding: 20px;
}
aside.active{
    left: 0;
}
aside header{
    text-align: center;
}
aside header a{
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}
aside header a:hover{
    color: #0984e3;
}
aside header img{
    height: 200px;
    text-align: center;
    border-radius: 50%;
    border: 5px solid #fff;
}
aside nav a{
    display: block;
    color: rgb(66, 66, 66);
    font-size: 1.2em;
    margin: 15px 0;
}
aside nav a i{
    margin-right: 10px;
}
aside nav a:hover i{
    margin-right: 25px;
    color: #0984e3;
}
.one{
    background-color: #fff;
}
.one .container{
    height: 490px;
    position: relative;
    overflow: hidden;
}
.box1{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.slider{
    display: flex;
    gap: 2rem;
    align-items: center;
    min-height: 400px;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.slider .imagem{
    flex: 1 1 420px;
    text-align: center;
}
.slider .imagem img{
    width: 300px;
}
.slider .conteudo{
    flex: 1 1 420px;
}
.slider .conteudo span{
    font-size: 1.25em;
    color: #0984e3;
}
.slider .conteudo h3{
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}
.slider .conteudo a{
    padding: 10px 30px;
    background-color: #0984e3;
    border-radius: 5px;
    color: #fff;
}
.two{
    background-color: #eee;
}
.container .traco1{
    position: absolute;
    right: 10px;
    top: 50%;
}
.container .traco2{
    position: absolute;
    left: 10px;
    top: 50%;
}
.container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 20px;
}
.container1 a{
    position: relative;
    height: 250px;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgb(0,0,0,0.2);
}
.container1 a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container1 .conteudo{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%) rotate(45deg);
}
.three{
    background-color: #eee;
}
.three h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.0em;
}
.three h1 span{
    color: #0984e3;
}
.three .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20.6em, 1fr));
    gap: 20px;
}
.three .container .container-itens{
    border: 2px solid #333;
    border-radius: 5px;
    display: flex;
    padding: 20px 10px;
    align-items: center;
    background-color: #fff;
}
.three .container .container-itens img{
    height: 150px;
}
.container-itens .conteudo span{
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 0.85em;
}
.estrela i{
    color: gold;
}
.footer{
    background-color: #333;
    padding: 30px 9%
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .fa-store{
    color: yellow;
    margin-right: 10px;
}
.footer .logo{
    font-size: 1.7em;
    font-weight: 700;
    color: #fff
}
.footer a{
    color: #fff;
    margin-left: 12px;
    font-size: 1.25em;
}
.footer a:hover{
    color: gold;
}
/** SOBRE.HTML */

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #eee;
}
.about .imagem{
    flex: 1 1 420px;
}
.about .imagem img{
    width: 100%;
}
.about .conteudo{
    flex: 1 1 420px;
    padding: 30px;
    background-color: #fff;
}
.about .conteudo h3{
    font-size: 30px;
    color: #333;
}
.about .conteudo p{
    padding: 10px 0;
    color: #666;
}
.about .conteudo a{
    padding: 10px 30px;
    background-color: #0984e3;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
}
.faq h1{
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.5em;
}
.faq h1 span{
    color: #0984e3;
}
.faq .container{
    width: 700px;
    margin: 0 auto;
}
.faq .container .container-item{
    margin-bottom: 15px;
}
.faq .container-item p{
    display: none;
}
.faq .container-item .container-item-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #333;
    padding: 20px;
    color: #fff;
    align-items: center;
}
.faq .container-item .container-item-box i{
    cursor: pointer;
}
.mensagem h1{
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.5em;
}
.mensagem h1 span{
    color: #0984e3;
}
.mensagem .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    gap: 20px;
}
.mensagem .container .container-item{
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
}
.mensagem .container .container-item img{
    height: 90px;
    border-radius: 50%;
}
.mensagem .container .container-item span{
    color: #0984e3;
    display: inline-block;
    margin-bottom: 15px;
}

/** PRODUTOS */
.categoria h1{
    text-align: center;
    margin-bottom: 30px;
}
.categoria h1 span{
    color: #0984e3;
}
.categoria .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 20px;
}
.categoria .container .container-itens{
    border: 2px solid #333;
    border-radius: 5px;
    text-align: center;
    padding: 15px 30px;
}
.categoria .container .container-itens:hover{
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
.categoria .container .container-itens img{
    height: 70px;
}
.destaque h1{
    text-align: center;
}
.destaque h1 span{
    color: #0984e3;
}
.destaque .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 20px;
}
.destaque .container .container-item{
    text-align: center;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}
.destaque .container .container-item img{
    height: 300px;
}
.destaque1 .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.destaque1 .container .container-item{
    height: 300px;
    position: relative;
    border: 2px solid #333;
    border-radius: 5px;
    flex: 1 1 420px;
}
.destaque1 .container .container-item .conteudo{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.destaque1 .container .container-item .conteudo p:nth-child(1){
    color: #0984e3;
}
.destaque1 .container .container-item .conteudo p:nth-child(2){
    color: #333;
    font-size: 1.2em;
    font-weight: 600;
}
.destaque1 .container .container-item .conteudo a{
    padding: 15px 35px;
    background-color: #0984e3;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}
.destaque1 .container .container-item .conteudo a:hover{
    background-color: #333;
}
.destaque1 .container .container-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/** CONTATO */

/** LOGIN */
.container-login{
    margin: 0 auto;
    border: 2px solid #333;
    border-radius: 5px;
    width: 400px;
    background-color: #fff;
    padding: 30px;
}
.container-login #email{
    display: block;
    padding: 15px 15px;
    border: 2px solid #333;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.container-login #senha{
    display: block;
    padding: 15px 15px;
    border: 1px solid #333;
    border: 2px solid #333;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.container-login #submit{
    width: 100%;
    padding: 10px 20px;
    background-color: #0984e3;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}
.container-login p{
    text-align: center;
    margin: 5px 0;
}
.container-login a{
    width: 100%;
    background-color: #333;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}
/** REGISTRO */

.container-login #usuario{
    display: block;
    padding: 15px 15px;
    border: 1px solid #333;
    border: 2px solid #333;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

/** CARRINHO */
.container-carrinho{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    gap: 20px;
}
.container-carrinho .container-carrinho-item{
    background-color: #fff;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 0.2);
}
.container-carrinho .container-carrinho-item img{
    height: 110px;
}
.container-carrinho-item .conteudo span{
    color: #666;
}
.container-carrinho-item .conteudo #number{
    width: 40px;
    background-color: rgb(236, 236, 236);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 32%;
}
.container-carrinho-item .conteudo .preco span:nth-child(1){
    font-size: 1.3em;
    margin-right: 5px;
    color: #0984e3;
}
.container-carrinho-item .conteudo .preco span:nth-child(2){
    text-decoration: line-through;
    color: #333;
}
.container-carrinho-item .conteudo h3{
    color: #333;
    margin-bottom: 5px;
}
.carrinho .total{
    width: 100%;
    border: 2px solid #333;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
}
.carrinho .total h3{
    margin-bottom: 10px;
}
.carrinho .total h3 span{
    color: #0984e3;
}
.carrinho .total a{
    padding: 10px 30px;
    background-color: #0984e3;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
}
@media (max-width: 1200px){
    header form{
        width: 50% !important;
    }
    html{
        font-size: 90%;
    }
}
@media (max-width: 1060px){
    header form{
        width: 45% !important;
    }
    html{
        font-size: 95%;
    }
}
@media (max-width: 960px) {
    header form{
        width: 40% !important;
    }

    .footer .container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 400px;
    }
    .footer .container .menu-item{
        text-align: center;
    }
    .footer .container .menu-item a{
        margin-top: 20px;
    }
    .footer .container .menu-item a{
        display: block;
    }
}
@media (max-width: 865px){
    header form{
        width: 35% !important;
    }
}
@media (max-width: 770px) {
    header form{
      position: absolute; 
      top: -110%;
      right: 20px;
      width: 50% !important;
      border-radius: 15px;
      border: 1px solid #333;
    }

    header form input{
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }
    header .active{
        top: 105%
    }
    #search-icon{
        display: inline;
    }
    .menu a{
        margin-left: 15px;
    }
    html{
        font-size: 0.9em;
    }
}
@media (max-width: 650px){
    html{
        font-size: 0.8em;
    }
}
@media (max-width: 450px) {
    .search-form{
        height: 40px;
    }
    #search-box{
        height: 40px;
    }
    .menu a{
        margin-left: 10px;
    }
    html{
        font-size: 0.7em;
    }
}